root{
  display:block;
}

html, body {
  font-family: Arial;
  font-size : 12px;
  background-color : white;
  color : black;
  padding : 0px;
  margin : 0px;
  border : none;
  width:100%;
  /*-ms-filter: “progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffffff, endColorstr=#ffffffff)”; /* IE8+ 
filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffffff, endColorstr=#ffffffff); /* IE7 and lower 
*/
}

/* body Parts */

	/* Login bar */

#logger{
	border : none;
	position : relative;
	background : url('/images/degrade_bandeau_login.png') repeat-x;
	height : 35px;
	color : #FFFFFF;
	padding-top : 5px;
	width : 100%;
	margin-left : 0px;
	margin-right : auto;
	z-index : 100;
}

#grey_block{
	position : relative;
	width : 100%;
	height : 200px;
	background-color : #EEEEEE;
	margin-bottom : -200px;
}

#container {
  font-family: Arial;
  font-size : 12px;
  background-color : white;
  color : black;
  padding : 0px;
  margin-left : auto;
  margin-right : auto;
  margin-top : 0px;
  margin-bottom : 0px;
  border : none;
  width: 960px;
}

/* Container parts */



	/* Central block with banner, text and footer */

#page{
  position : relative;
  background-color : white;
  color : white;
  margin-top : 0px;
  margin-bottom : 0px;
  margin-left : auto;
  margin-right : auto;
  border : none;
  width : 960px;
  float : left;
	box-shadow : 1px 1px 20px #555;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=45, Strength=15, positive='true')";
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=45, Strength=15, positive="true");*/
  z-index : 1;
}

	/* Side part with cube-links on the right */

#sider{
  position : absolute;
  background-color : transparent;
  width : 87px;
  margin-top : -10px;
  margin-left : 930px;
  float : left;
  padding : 0px;
  height : 347px;
  z-index : 0;
}


		/* Page parts */

		/* Header, contains banner and menu */
#header {
  color : white;
  margin-top : 0px;
  margin-right : 0px;
  margin-left : 0px;
  text-align : right;
  padding-top : 19px;
  clear : left;
  height : 121px;
  background : url('../images/bandeau.png') no-repeat #382d24;
}

		/* Content, contains texts */

#content {
  margin-left : 0px;
  margin-right : 0px;
  background: url('/images/degrade_page_principale.png') left top repeat-x #FFFFFF;
  color : black;
  min-height : 390px;
  border-top : solid 1px #FFFFFF;
}

		/* Footer, bottom of the page, contains sitemap, external links and commercial infos */

#footer {
  background-image : url('../images/footer.png');
  color : white;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : -20px;
  padding-top : 5px;
  padding-bottom : 0px;
  padding-left : 50px;
  padding-right : 50px;
  height : 120px;
  clear : left;
}

		/* Header parts */

			/* Menu parts */

.menu{
	float : right;
	height : 30px;
        font-weight : bold;
	font-size: 14px;
	margin : 18px 10px 0 0;
	padding : 0;
}

.menu_ul{
  	list-style-type : none;
	margin : 0;
	padding : 8px 0 0 0;
}

.logo{	
	width : 372px;
	height : 73px;
	margin-bottom : 0;
}

a.logo_link{
	color : #000000;
	text-decoration : none;
	padding : 0;
	margin : 0;
	display : block;
	width : 372px;
	height : 73px;
	margin-left : 30px;
}

#ul_vous-etes{
	position : absolute;
	left : 0px;
	right : auto;
	bottom : auto;
	top : 22px;
        padding-left : 5px;
	padding-right : 5px;
	background-color : #382d24;
        border : solid 1px #00cfff;
	z-index : 3;
	display : none;
	text-align : left;
	font-size : 12px;
	width : 100px;
	margin : 0;
}

#ul_vous-etes li{
        padding : 0 1px 0 1px;
	margin : 3px;
	display : block;
        border : none;
}

#ul_vous-etes a:link{
	color : white !important;
}

#ul_vous-etes a:visited{
	color : white !important;
}

#ul_vous-etes li:hover a{
	color : #00cfff !important;
}

#ul_vous-etes li.current a{
	color : #00cfff !important;
}

.menu_ul li{
  text-align : center;
  position : relative;
  float : left;
  display : block;
  margin : 0 10px 0 20px;
  padding : 0;
  height : 19px;
}

.menu_ul a:link{
  color : white;
  text-decoration : none;
}

.menu_ul a:visited{
  color : white;
  text-decoration : none;
}

.menu_ul li:hover{
  border-bottom : #00cfff solid 3px;
}

.menu_ul li:hover a{
  color : #00CFFF;
  text-decoration : none;
}

.menu_ul li:hover ul li a{
	color : white;
}

.menu_ul a:active{
  color : inherit;
  text-decoration : none;
}

.current{
  border-bottom : #00cfff solid 3px;
}

.current a{
  color : #00cfff !important;
}

.parent_of_current{
  border-bottom : #00cfff solid 3px;
}

.parent_of_current a{
  color : #00cfff !important;
}
		/* Content parts */

#accordion{
	margin-bottom : 5px;
}

#content a{
	border : none;
	text-decoration : none;
	outline : none;
}

#content a:hover{
	border : none;
	text-decoration : none;
	color :  #00cfff;
	outline : none;
}

#content a:active{
	outline : none;
	border : none;
	text-decoration : none;
}

#content img{
	border : none;
}

.para{
  margin-left : 50px;
  margin-right : 50px;
  /*width : 83%;*/
}

.para p{
	padding-left : 10px;
	padding-bottom : 5px;
}

h3{
  font-size : 13px;
}
			/* Page d'accueil */
.central{
  width : 884px;
  padding : 10px;
  margin-bottom : 5px;
  background : url('../images/central_bkg.png') repeat-x;
  height : 190px;
  float : left;
}

.central_left{
  background: url('../images/central_left.png') no-repeat;
  width : 20px;
  height : 210px;
  margin-left : 8px;
  float : left;
}

.central_right{
  background: url('../images/central_right.png') no-repeat;
  width : 20px;
  height : 210px;
  float : left;
}

.central_vsep{
  margin-right : 0px;
  margin-left : 0px;
  background-image : url('../images/central_sep.png');
  width : 2px;
  height : 180px;
  float : left;
}

.temoin{
  margin-left : -20px;
  width : 677px;
  margin-right : 0px;
  height : 180px;
  float : left;
}

.join{
  font-size : 23px;
  margin-right : 0px;
  margin-top : 0px;
  width : 200px;
  margin-left : 0px;
  padding-left : 21px;
  padding-top : 0px;
  text-align : center;
  padding-right : 0px;
  height : 150px;
  float : left;
}

.join p{
	margin-top : 20px;
	margin-bottom : 20px
}

.join_button{
  width : 152px;
  height : 32px;
  background : url('../images/bouton_inscrire.png') 0 0;
  margin-left : auto;
  margin-right : auto;
}

.join_button:hover{
  width : 152px;
  height : 32px;
  background: url('../images/bouton_inscrire.png') 0 32px;
  margin-left : auto;
  margin-right : auto;
}

.actubox{
  float : left;
  width : 290px;
  height : 305px;
  margin-left : 20px;
  margin-right : 5px;
  background : url('/images/ombre_gauche_actu.png') left center no-repeat #E2DAC3;
  margin-bottom : 0px;
  border : none;
}

.actubox ul{
	list-style-type : none;
	margin : 0;
	padding : 0;
	border : none;
}

.actubox li{
	padding : 10px 0 10px 0;
	margin : 0 10px 0 10px;
	border-bottom : #AA9979 solid 1px;

}

.actubox ul li a{
	margin : 0;
	padding : 0 0 0 30px;
	border : none;
	width : 85%;
	display : block;
	color : black;
	background : url('/images/puce_actu.png') left center no-repeat transparent;
}

.actubox p{
	position : relative;
	margin : 0;
	padding : 0;
	border : none;
	width : 90%
}

.actubox p:first-line{
	font-size : 11px;
	color : #00cFFF;
}

.actubox h2{
	font-size : 8px;
	color : #00cFFF;
}

.actubox .rss_actu{
	float : right;
	position : absolute;
	top : 693px;
	right : 3px;
}

.unimagedbox{
  float : left;
  width : 290px;
  min-height : 305px;
  margin-left : 20px;
  margin-right : 5px;
  background : transparent;
  margin-bottom : 0px;
  border : none;
}

.imagedbox{
  float : left;
  width : 270px;
  height : 313px;
  margin-left : 20px;
  margin-right : 5px;
  background : url('/images/degrade_boite_vousetes.png') repeat-x scroll 0 0  #CECECE;
  margin-bottom : 0px;
  border : none;
  padding : 10px;
}

.imagedbox_shadow{
  margin-top : 0px;
  float : left;
  width : 290px;
  height : 1px;
  margin-left : 20px;
  margin-right : 5px;
  margin-bottom : 20px;
  border : none;
  background : url('/images/shadow_boite_vousetes.png') no-repeat center center;
}

.imagedbox p{
 padding-left : 5px;
 padding-right : 5px;
 font-size : 80%;
 text-align : justify;
 line-height : 150%;
}

.image_entreprises{
 background-image : url('../images/entreprises.jpg');
 margin-top : 5px;
 height : 180px;
 width : 270px;
 border : solid 1px #FFFFFF;
 margin-left : auto;
 margin-right : auto;
}

.image_clusters{
 background-image : url('../images/clusters.jpg');
 margin-top : 5px;
 height : 180px;
 width : 270px;
 border : solid 1px #FFFFFF;
 margin-left : auto;
 margin-right : auto;
}

.image_associations{
 background-image : url('../images/associations.jpg');
 margin-top : 5px;
 height : 180px;
 width : 270px;
 border : solid 1px #FFFFFF;
 margin-left : auto;
 margin-right : auto;
}

.shadow{
 position :absolute;
 height : 30px;
 background-color : black;
 width : 270px;
 padding : 0;
 margin : 0;
 border : none;
 opacity: .4;  Standards Compliant Browsers 
 filter: alpha(opacity=40);
 -ms-filter: /*progid:DXImageTransform.Microsoft.Chroma(color='white')*/ "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: /*progid:DXImageTransform.Microsoft.Chroma(color='white')*/ progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    zoom : 1;
    
}

.title{
 position :absolute;
 top : 7px;
 letter-spacing : 2px;
 font-weight : bold;
 font-size : 15px;
 text-transform : uppercase;
 position : relative;
 text-align : center;
 background-color : transparent;
 width : 270px;
 color : white;
}

			/* Page 'L'entreprise' */

.membre_equipe{
	width : 140px;
	padding : 0;
	border : none;
	margin-left : 37px;
	margin-right : 37px;
	margin-bottom : 20px;
	margin-top : 20px;
	float : left;
}

.membre_equipe .cadre{
	margin-left : auto;
	margin-right : auto;
	margin-top : 0;
	margin-bottom : 0;
	width : 80px;
	height : 85px;
	padding : 5px;
	border : none;
	background : url('/images/cadre.png') center center;
}

.membre_equipe .cadre img{
	margin : 0;
	padding-left : 3px;
	padding-top : 1px;
	border : none;
}

.membre_equipe p{
	text-align : center;
	margin-top : 5px;
	margin-bottom : 10px;
	margin-left : 0px;
	margin-right : 0px;
}

.membre_equipe p:first-line{
	font-size : 100%;
	font-weight : bold;
} 

.membre_equipe a{
	width : 140px;
	height : 40px;
	background : url('/images/profil_button.png') 0 -40px no-repeat;
	display : block;
	margin : 0;
	padding : 0;
	border : 0
}

.membre_equipe a:hover{
	width : 140px;
	height : 40px;
	background : url('/images/profil_button.png') 0 0 no-repeat;
	display : block;
	margin : 0;
	padding : 0;
	border : 0
}

			/* Page 'Espace presse' */

.press_main a {
	color : #00cFFF;
}
#visuels_tab .sliderGallery .slider {top:124px;}
.press_right .sliderGallery ul{background:transparent url(../images/gradient_scrollable.png) repeat-x scroll left bottom;height:128px;}
.press_left h3 {font-size:13px;font-weight:normal;}
.press_left .add_comment_block {text-align:left;padding-left:10px;}
.press_left p {font-family:Arial;}
.press_left p {margin-top:30px;margin-bottom:20px;}
.press_left .add_comment_block {padding:10px;text-align:left;}
.press_right h1 {text-align:center;color:#00cfff;margin-bottom:30px;margin-top:20px; background : transparent; padding : 0; font-size : 14px;}
.press_right p {text-align:justify;}
.press_right strong {color:#00cfff;font-weight:normal;}
.press_right p ul {list-style-type: circle}
#big_image {text-align:center;}
.download_block  {min-height:30px;margin-top:5px;padding-top:5px;text-align:center;background:#fff url(../images/gradient_comments.png) repeat-x top}
.press_main {
  width:100%;
}

.press_right {
  float : left;
  width : 640px;
}

.press_left {
  float:left;
  width:300px;
  margin-left : 10px;
}

.press_left h3 {
font-size:13px;
font-weight:normal;
text-transform : uppercase;
}

#tabs_infos.ui-widget-content {background:none;border:none;}
#tabs_infos.ui-widget-content .ui-tabs-nav {padding : 0; border-top:none;border-right:none;border-left:none;background:none;border-bottom:1px solid #EEEEEE;}
#tabs_infos .ui-tabs-nav li {-moz-border-radius:0px; border : 1px solid #EEEEEE}
#tabs_infos .ui-tabs-nav li a {padding:2px 10px;font-size : 75%; font-weight : bold;}
#tabs_infos .ui-tabs-nav li.ui-state-default{background:#eeeeee;}
#tabs_infos .ui-tabs-nav li.ui-state-active{background:#fff; outline : none; border-bottom-width : 0 !important;}
#tabs_infos .ui-tabs-nav li.ui-state-active.ui-state-default a {color:#00cfff;}
#tabs_infos .ui-tabs-nav li.ui-state-default a {color:#333333;}
#tabs_infos .ui-tabs-nav li.ui-state-active a  {color:#00cfff; outline : none;}

.add_comment_block {margin-top:5px;padding-top:5px;text-align:center;background:#fff url(../images/gradient_comments.png) repeat-x top}
.add_comment_block .title_icon {
float:right;
margin-top:-20px;
background:none repeat scroll 0 0 transparent;
border:0 none;
outline:0 none;
padding:0;
vertical-align:baseline;
}

.download_button{
	float : right;
	display : block;
	font-size : 10px;
	padding-left : 25px;
	padding-right : 15px;
	height : 18px;
	background : url('/images/neutral_button_download.png') left center no-repeat;
	text-align : center;
	padding-top : 4px;
}

.download_button a{
	color : #FFFFFF !important;
	text-decoration : none;
}

.download_button:hover{
	background : url('/images/neutral_button_download.png') -300px center no-repeat;
}

.download_button a:visited{
	color : #FFFFFF !important;
	text-decoration : none;
}

			/* Visuels */

.sliderGallery li.active img {border:3px solid #009eee}
.sliderGallery .extension  {font-weight:bold;text-transform:uppercase;text-decoration:none;}
.sliderGallery .extension {padding-top:45px;text-align:center;background:url(../images/empty_document.png) 0 0; height:65px;width:83px;}
.sliderGallery .extension:hover, #main_column_wrapper .sliderGallery .extension.active {background:url(../images/empty_document.png) 0 -110px; height:65px;width:83px;}

/* slider specific CSS */
.sliderGallery {
    background: #fff;
    overflow: hidden;
    position: relative;
    height:140px;

    width: 100%;
}

.sliderGallery ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:20000em;
  z-index : 300;
  background: transparent url(../images/gradient_scrollable.png) repeat-x top left;
  
  }

.sliderGallery ul li {
    float:left;
    margin-right:10px;
    margin-left:10px;
}
#instanz_2_images {height:245px;}
.sliderGallery .slider {
    width: 100%;
    height: 17px;
    
    margin-left: 5px;
    padding: 1px;
    position: relative;
    background: transparent url(../images/gradient_slider.png) repeat-x top left;
    border:none;
    -moz-border-radius:0;
    margin-left:0;
    margin-right:0;
    top:110px;
}


.ui-slider-handle {
    position: absolute;
    cursor: move;
    height: 17px;
    width: 100px;
    top: 0;
    background: #009eee;
    height:4px;
    border:none;
    -moz-border-radius:0;
    z-index: 100;
    margin-top:7px;
   
}

.slider span {
    color: #bbb;
    font-size: 80%;
    cursor: pointer;
    position: absolute;
    z-index: 110;
    top: 3px;
}

.slider .slider-lbl1 {
    left: 50px;
}

.slider .slider-lbl2 {
    left: 107px;
}

.slider .slider-lbl3 {
    left: 156px;
}

.slider .slider-lbl4 {
    left: 280px;
}

.slider .slider-lbl5 {
    left: 455px;
}



			/* Autres */

.block_link{
  color : #000000;
}

.block_link:hover{
 color : #000000;
}

.block_link:hover p{
 color : #000000;
}

.block_link:hover .image_clusters{
 border : solid 1px #00cFFF;
}

.block_link:hover .image_entreprises{
 border : solid 1px #00cFFF;
}

.block_link:hover .image_associations{
 border : solid 1px #00cFFF;
}

.block_link:hover .title{
	color : #00cFFF;
}


		
		/* Footer parts */

.footer_div {
  margin-top : 0px;
  margin-bottom : 0px;
  margin-left : auto;
  margin-right : auto;
  background-color : transparent;
  color : white;
  padding-right : 5px;
  float : left;
  height : 100%;
  width : 32%;
  font-size : 10px;
}

.footer_div ul {
  list-style-type : none;
  width : 80px;
  margin-left : 0px;
  margin-right : 0px;
  padding-right : 0px;
  padding-left : 20px;
}

.footer_div a:link {color:white; text-decoration:none}
.footer_div a:visited {color:white; text-decoration:none}
.footer_div a:hover {color:#00cfff; text-decoration:none}
.footer_div a:active {color:white; text-decoration:none}

.vsep{
  background-image : url('../images/footer_sep.png');
  width : 2px;
  margin : 10px 0 10px 0;
  height : 100px;
  float : left;
}

.sitemap_div{
  width : 150px;
}

.links_div{
  width : 380px;
}

.links_div li{
  margin-bottom : 5px;
}

.link_press{
	background : url('/images/boutons_footer.png') 42px 0;
	width : 42px;
	height : 42px;
}

.link_press:link{
	background : url('/images/boutons_footer.png') 42px 0;
	width : 42px;
	height : 42px;
}

.link_press:visited{
	background : url('/images/boutons_footer.png') 42px 0;
	width : 42px;
	height : 42px;
}

.link_press:hover{
	background : url('/images/boutons_footer.png') 42px 42px;
	width : 42px;
	height : 42px;
}

.link_press a{
	margin : 0;
	padding : 13px 0 0 50px;
	height : 28px;
	width : 100px;
	display : block;
}

.link_contact{
	background : url('/images/boutons_footer.png') 0 0;
	width : 42px;
	height : 42px;
}

.link_contact:hover{
	background : url('/images/boutons_footer.png') 0 42px;
	width : 42px;
	height : 42px;
}

.link_contact a{
	margin : 0;
	padding : 13px 0 0 50px;
	height : 28px;
	width : 100px;
	display : block;
}

.links_div img{
  vertical-align : middle;
  margin-right : 5px;
  border-style : none;
}

.links_div ul{
 padding-left : 10px;
}

.infos_div{
  text-align : right;
  font-size : 10px;
  width : 265px;
  padding-right : 20px;
}

ul.sitemap{
  font-size : 10px;
  padding-left : 2px;
}

li.sitemap{
  margin-bottom : 5px;
}

li.childsitemap{
  font-size : 10px;
  margin-bottom : 5px;
}


	/* Sider parts */

#sider ul{
  margin : 0px;
  padding : 0px;
  list-style-type : none;
}

#sider li{
  margin : 0px;
  width : 80px;
  height : 80px;
}

#sider li:hover{
  margin-left : 10px;
}

#sider img{
  border-style : none;
}

/* Non-specific */

h1{
 margin-left : 10px;
 color : #382D24 ;
 background: url('/images/puce_titre.png') left top no-repeat transparent;
 font-size : 18px;
 padding-left : 50px;
 height : 24px;
}

.right_aligned{
  text-align : right;
}

.justified_rtl{
  text-align : justify;
  direction : rtl;
}

.mini_font{
  font-size : 8px;
}

.hbar{
  width : 100%;
  clear : both;
  margin : 0px;
  padding : 0px;
  border : 0px;
}

/* logger parts */

#logger form{
	text-align : center;
	font : arial regular, #CCC, 12px;
	letter-spacing:2px;
	margin:0 5px 0 50px;
	text-transform:uppercase;
}

#logger input{
	border : none;
	height : 19px;
	margin-right : 20px;
	width : 202px;
	background : url('/images/champ_texte.png') 0 0 no-repeat;
	padding-left : 10px;
}

#logger input:hover{
	background : url('/images/champ_texte.png') 0 -20px no-repeat;
}

#logger .connexion_button{
	width : 112px;
	height : 20px;
	border : none;
	background : url('/images/connexion.png') 0 0 no-repeat;
}

#logger .connexion_button:hover{
	background : url('/images/connexion.png') 0 -20px no-repeat;	
}

#lost_password {
color:#877D6E;
font-size:10px;
text-transform:lowercase;
letter-spacing:0px;

}
